body {
    display: flex;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1050px;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 65px;
}
.logo {
    width: 30%;
}
.search {
    width: 60%;
}
.socialIcons {
    width: 30%;
}
.buttons {
    height: 40px;
    margin-top: 10px;
}
.carouselDisplay {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 220px;
}
.selection {
    width: 100%;
}
.content {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.info {
    width: 70%;
}
.desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.details {
    height: 750px;
}
.comment {
    height: 50px;
}
.extraInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block {
    height: 450px;
}
footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.author {
    height: 30px;
    margin-top: 10px;
}
.contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 300px;
}
.tablet {
    width: 100%;
}
.copyRight {
    height: 60px;
}

.border {
    border: 3px solid pink;
}